@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");
.confetti {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 50%;
  height: 80vh;
  top: 0;
  overflow: hidden;
}

.confetti-piece {
  position: absolute;
  width: 12px;
  height: 20px;
  background: #ffd300;
  top: 0;
  opacity: 0;
}

.confetti-piece:nth-child(1) {
  left: 7%;
  -webkit-transform: rotate(73deg);
          transform: rotate(73deg);
  -webkit-animation: makeItRain 2000ms infinite ease-out;
          animation: makeItRain 2000ms infinite ease-out;
  -webkit-animation-delay: 864ms;
          animation-delay: 864ms;
  -webkit-animation-duration: 2133ms;
          animation-duration: 2133ms;
}

.confetti-piece:nth-child(2) {
  left: 14%;
  -webkit-transform: rotate(34deg);
          transform: rotate(34deg);
  -webkit-animation: makeItRain 2000ms infinite ease-out;
          animation: makeItRain 2000ms infinite ease-out;
  -webkit-animation-delay: 767ms;
          animation-delay: 767ms;
  -webkit-animation-duration: 2095ms;
          animation-duration: 2095ms;
}

.confetti-piece:nth-child(3) {
  left: 21%;
  -webkit-transform: rotate(52deg);
          transform: rotate(52deg);
  -webkit-animation: makeItRain 2000ms infinite ease-out;
          animation: makeItRain 2000ms infinite ease-out;
  -webkit-animation-delay: 419ms;
          animation-delay: 419ms;
  -webkit-animation-duration: 2347ms;
          animation-duration: 2347ms;
}

.confetti-piece:nth-child(4) {
  left: 28%;
  -webkit-transform: rotate(57deg);
          transform: rotate(57deg);
  -webkit-animation: makeItRain 2000ms infinite ease-out;
          animation: makeItRain 2000ms infinite ease-out;
  -webkit-animation-delay: 270ms;
          animation-delay: 270ms;
  -webkit-animation-duration: 1600ms;
          animation-duration: 1600ms;
}

.confetti-piece:nth-child(5) {
  left: 35%;
  -webkit-transform: rotate(22deg);
          transform: rotate(22deg);
  -webkit-animation: makeItRain 2000ms infinite ease-out;
          animation: makeItRain 2000ms infinite ease-out;
  -webkit-animation-delay: 65ms;
          animation-delay: 65ms;
  -webkit-animation-duration: 1979ms;
          animation-duration: 1979ms;
}

.confetti-piece:nth-child(6) {
  left: 42%;
  -webkit-transform: rotate(62deg);
          transform: rotate(62deg);
  -webkit-animation: makeItRain 2000ms infinite ease-out;
          animation: makeItRain 2000ms infinite ease-out;
  -webkit-animation-delay: 780ms;
          animation-delay: 780ms;
  -webkit-animation-duration: 1735ms;
          animation-duration: 1735ms;
}

.confetti-piece:nth-child(7) {
  left: 49%;
  -webkit-transform: rotate(-41deg);
          transform: rotate(-41deg);
  -webkit-animation: makeItRain 2000ms infinite ease-out;
          animation: makeItRain 2000ms infinite ease-out;
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
  -webkit-animation-duration: 1457ms;
          animation-duration: 1457ms;
}

.confetti-piece:nth-child(8) {
  left: 56%;
  -webkit-transform: rotate(-29deg);
          transform: rotate(-29deg);
  -webkit-animation: makeItRain 2000ms infinite ease-out;
          animation: makeItRain 2000ms infinite ease-out;
  -webkit-animation-delay: 58ms;
          animation-delay: 58ms;
  -webkit-animation-duration: 1405ms;
          animation-duration: 1405ms;
}

.confetti-piece:nth-child(9) {
  left: 63%;
  -webkit-transform: rotate(-56deg);
          transform: rotate(-56deg);
  -webkit-animation: makeItRain 2000ms infinite ease-out;
          animation: makeItRain 2000ms infinite ease-out;
  -webkit-animation-delay: 333ms;
          animation-delay: 333ms;
  -webkit-animation-duration: 2144ms;
          animation-duration: 2144ms;
}

.confetti-piece:nth-child(10) {
  left: 70%;
  -webkit-transform: rotate(52deg);
          transform: rotate(52deg);
  -webkit-animation: makeItRain 2000ms infinite ease-out;
          animation: makeItRain 2000ms infinite ease-out;
  -webkit-animation-delay: 632ms;
          animation-delay: 632ms;
  -webkit-animation-duration: 2317ms;
          animation-duration: 2317ms;
}

.confetti-piece:nth-child(11) {
  left: 77%;
  -webkit-transform: rotate(-67deg);
          transform: rotate(-67deg);
  -webkit-animation: makeItRain 2000ms infinite ease-out;
          animation: makeItRain 2000ms infinite ease-out;
  -webkit-animation-delay: 207ms;
          animation-delay: 207ms;
  -webkit-animation-duration: 1678ms;
          animation-duration: 1678ms;
}

.confetti-piece:nth-child(12) {
  left: 84%;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  -webkit-animation: makeItRain 2000ms infinite ease-out;
          animation: makeItRain 2000ms infinite ease-out;
  -webkit-animation-delay: 451ms;
          animation-delay: 451ms;
  -webkit-animation-duration: 1787ms;
          animation-duration: 1787ms;
}

.confetti-piece:nth-child(13) {
  left: 91%;
  -webkit-transform: rotate(-64deg);
          transform: rotate(-64deg);
  -webkit-animation: makeItRain 2000ms infinite ease-out;
          animation: makeItRain 2000ms infinite ease-out;
  -webkit-animation-delay: 155ms;
          animation-delay: 155ms;
  -webkit-animation-duration: 1545ms;
          animation-duration: 1545ms;
}

.confetti-piece:nth-child(14) {
  left: 98%;
  -webkit-transform: rotate(82deg);
          transform: rotate(82deg);
  -webkit-animation: makeItRain 2000ms infinite ease-out;
          animation: makeItRain 2000ms infinite ease-out;
  -webkit-animation-delay: 15ms;
          animation-delay: 15ms;
  -webkit-animation-duration: 1461ms;
          animation-duration: 1461ms;
}

.confetti-piece:nth-child(15) {
  left: 105%;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-animation: makeItRain 2000ms infinite ease-out;
          animation: makeItRain 2000ms infinite ease-out;
  -webkit-animation-delay: 880ms;
          animation-delay: 880ms;
  -webkit-animation-duration: 2154ms;
          animation-duration: 2154ms;
}

.confetti-piece:nth-child(16) {
  left: 112%;
  -webkit-transform: rotate(-16deg);
          transform: rotate(-16deg);
  -webkit-animation: makeItRain 2000ms infinite ease-out;
          animation: makeItRain 2000ms infinite ease-out;
  -webkit-animation-delay: 924ms;
          animation-delay: 924ms;
  -webkit-animation-duration: 2373ms;
          animation-duration: 2373ms;
}

.confetti-piece:nth-child(17) {
  left: 119%;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  -webkit-animation: makeItRain 2000ms infinite ease-out;
          animation: makeItRain 2000ms infinite ease-out;
  -webkit-animation-delay: 107ms;
          animation-delay: 107ms;
  -webkit-animation-duration: 2328ms;
          animation-duration: 2328ms;
}

.confetti-piece:nth-child(18) {
  left: 126%;
  -webkit-transform: rotate(23deg);
          transform: rotate(23deg);
  -webkit-animation: makeItRain 2000ms infinite ease-out;
          animation: makeItRain 2000ms infinite ease-out;
  -webkit-animation-delay: 467ms;
          animation-delay: 467ms;
  -webkit-animation-duration: 1560ms;
          animation-duration: 1560ms;
}

.confetti-piece:nth-child(19) {
  left: 133%;
  -webkit-transform: rotate(-22deg);
          transform: rotate(-22deg);
  -webkit-animation: makeItRain 2000ms infinite ease-out;
          animation: makeItRain 2000ms infinite ease-out;
  -webkit-animation-delay: 346ms;
          animation-delay: 346ms;
  -webkit-animation-duration: 2381ms;
          animation-duration: 2381ms;
}

.confetti-piece:nth-child(20) {
  left: 140%;
  -webkit-transform: rotate(37deg);
          transform: rotate(37deg);
  -webkit-animation: makeItRain 2000ms infinite ease-out;
          animation: makeItRain 2000ms infinite ease-out;
  -webkit-animation-delay: 504ms;
          animation-delay: 504ms;
  -webkit-animation-duration: 1447ms;
          animation-duration: 1447ms;
}

.confetti-piece:nth-child(21) {
  left: 147%;
  -webkit-transform: rotate(-18deg);
          transform: rotate(-18deg);
  -webkit-animation: makeItRain 2000ms infinite ease-out;
          animation: makeItRain 2000ms infinite ease-out;
  -webkit-animation-delay: 132ms;
          animation-delay: 132ms;
  -webkit-animation-duration: 1635ms;
          animation-duration: 1635ms;
}

.confetti-piece:nth-child(22) {
  left: 154%;
  -webkit-transform: rotate(-66deg);
          transform: rotate(-66deg);
  -webkit-animation: makeItRain 2000ms infinite ease-out;
          animation: makeItRain 2000ms infinite ease-out;
  -webkit-animation-delay: 637ms;
          animation-delay: 637ms;
  -webkit-animation-duration: 2090ms;
          animation-duration: 2090ms;
}

.confetti-piece:nth-child(23) {
  left: 161%;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  -webkit-animation: makeItRain 2000ms infinite ease-out;
          animation: makeItRain 2000ms infinite ease-out;
  -webkit-animation-delay: 725ms;
          animation-delay: 725ms;
  -webkit-animation-duration: 1704ms;
          animation-duration: 1704ms;
}

.confetti-piece:nth-child(24) {
  left: 168%;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
  -webkit-animation: makeItRain 2000ms infinite ease-out;
          animation: makeItRain 2000ms infinite ease-out;
  -webkit-animation-delay: 222ms;
          animation-delay: 222ms;
  -webkit-animation-duration: 1737ms;
          animation-duration: 1737ms;
}

.confetti-piece:nth-child(25) {
  left: 175%;
  -webkit-transform: rotate(49deg);
          transform: rotate(49deg);
  -webkit-animation: makeItRain 2000ms infinite ease-out;
          animation: makeItRain 2000ms infinite ease-out;
  -webkit-animation-delay: 674ms;
          animation-delay: 674ms;
  -webkit-animation-duration: 1922ms;
          animation-duration: 1922ms;
}

.confetti-piece:nth-child(26) {
  left: 182%;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
  -webkit-animation: makeItRain 2000ms infinite ease-out;
          animation: makeItRain 2000ms infinite ease-out;
  -webkit-animation-delay: 690ms;
          animation-delay: 690ms;
  -webkit-animation-duration: 1477ms;
          animation-duration: 1477ms;
}

.confetti-piece:nth-child(27) {
  left: 189%;
  -webkit-transform: rotate(-67deg);
          transform: rotate(-67deg);
  -webkit-animation: makeItRain 2000ms infinite ease-out;
          animation: makeItRain 2000ms infinite ease-out;
  -webkit-animation-delay: 605ms;
          animation-delay: 605ms;
  -webkit-animation-duration: 1492ms;
          animation-duration: 1492ms;
}

.confetti-piece:nth-child(28) {
  left: 196%;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  -webkit-animation: makeItRain 2000ms infinite ease-out;
          animation: makeItRain 2000ms infinite ease-out;
  -webkit-animation-delay: 870ms;
          animation-delay: 870ms;
  -webkit-animation-duration: 1822ms;
          animation-duration: 1822ms;
}

.confetti-piece:nth-child(29) {
  left: 203%;
  -webkit-transform: rotate(-53deg);
          transform: rotate(-53deg);
  -webkit-animation: makeItRain 2000ms infinite ease-out;
          animation: makeItRain 2000ms infinite ease-out;
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
  -webkit-animation-duration: 1531ms;
          animation-duration: 1531ms;
}

.confetti-piece:nth-child(30) {
  left: 210%;
  -webkit-transform: rotate(-12deg);
          transform: rotate(-12deg);
  -webkit-animation: makeItRain 2000ms infinite ease-out;
          animation: makeItRain 2000ms infinite ease-out;
  -webkit-animation-delay: 678ms;
          animation-delay: 678ms;
  -webkit-animation-duration: 2137ms;
          animation-duration: 2137ms;
}

.confetti-piece:nth-child(31) {
  left: 217%;
  -webkit-transform: rotate(56deg);
          transform: rotate(56deg);
  -webkit-animation: makeItRain 2000ms infinite ease-out;
          animation: makeItRain 2000ms infinite ease-out;
  -webkit-animation-delay: 659ms;
          animation-delay: 659ms;
  -webkit-animation-duration: 1873ms;
          animation-duration: 1873ms;
}

.confetti-piece:nth-child(32) {
  left: 224%;
  -webkit-transform: rotate(-1deg);
          transform: rotate(-1deg);
  -webkit-animation: makeItRain 2000ms infinite ease-out;
          animation: makeItRain 2000ms infinite ease-out;
  -webkit-animation-delay: 572ms;
          animation-delay: 572ms;
  -webkit-animation-duration: 1503ms;
          animation-duration: 1503ms;
}

.confetti-piece:nth-child(33) {
  left: 231%;
  -webkit-transform: rotate(54deg);
          transform: rotate(54deg);
  -webkit-animation: makeItRain 2000ms infinite ease-out;
          animation: makeItRain 2000ms infinite ease-out;
  -webkit-animation-delay: 795ms;
          animation-delay: 795ms;
  -webkit-animation-duration: 2142ms;
          animation-duration: 2142ms;
}

.confetti-piece:nth-child(34) {
  left: 238%;
  -webkit-transform: rotate(21deg);
          transform: rotate(21deg);
  -webkit-animation: makeItRain 2000ms infinite ease-out;
          animation: makeItRain 2000ms infinite ease-out;
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
  -webkit-animation-duration: 1556ms;
          animation-duration: 1556ms;
}

.confetti-piece:nth-child(35) {
  left: 245%;
  -webkit-transform: rotate(63deg);
          transform: rotate(63deg);
  -webkit-animation: makeItRain 2000ms infinite ease-out;
          animation: makeItRain 2000ms infinite ease-out;
  -webkit-animation-delay: 762ms;
          animation-delay: 762ms;
  -webkit-animation-duration: 1568ms;
          animation-duration: 1568ms;
}

.confetti-piece:nth-child(36) {
  left: 252%;
  -webkit-transform: rotate(78deg);
          transform: rotate(78deg);
  -webkit-animation: makeItRain 2000ms infinite ease-out;
          animation: makeItRain 2000ms infinite ease-out;
  -webkit-animation-delay: 734ms;
          animation-delay: 734ms;
  -webkit-animation-duration: 1913ms;
          animation-duration: 1913ms;
}

.confetti-piece:nth-child(37) {
  left: 259%;
  -webkit-transform: rotate(67deg);
          transform: rotate(67deg);
  -webkit-animation: makeItRain 2000ms infinite ease-out;
          animation: makeItRain 2000ms infinite ease-out;
  -webkit-animation-delay: 892ms;
          animation-delay: 892ms;
  -webkit-animation-duration: 1708ms;
          animation-duration: 1708ms;
}

.confetti-piece:nth-child(38) {
  left: 266%;
  -webkit-transform: rotate(-65deg);
          transform: rotate(-65deg);
  -webkit-animation: makeItRain 2000ms infinite ease-out;
          animation: makeItRain 2000ms infinite ease-out;
  -webkit-animation-delay: 495ms;
          animation-delay: 495ms;
  -webkit-animation-duration: 1754ms;
          animation-duration: 1754ms;
}

.confetti-piece:nth-child(39) {
  left: 273%;
  -webkit-transform: rotate(76deg);
          transform: rotate(76deg);
  -webkit-animation: makeItRain 2000ms infinite ease-out;
          animation: makeItRain 2000ms infinite ease-out;
  -webkit-animation-delay: 296ms;
          animation-delay: 296ms;
  -webkit-animation-duration: 1867ms;
          animation-duration: 1867ms;
}

.confetti-piece:nth-child(40) {
  left: 280%;
  -webkit-transform: rotate(7deg);
          transform: rotate(7deg);
  -webkit-animation: makeItRain 2000ms infinite ease-out;
          animation: makeItRain 2000ms infinite ease-out;
  -webkit-animation-delay: 843ms;
          animation-delay: 843ms;
  -webkit-animation-duration: 1544ms;
          animation-duration: 1544ms;
}

.confetti-piece:nth-child(odd) {
  background: #17d3ff;
}

.confetti-piece:nth-child(even) {
  z-index: 1;
}

.confetti-piece:nth-child(4n) {
  width: 5px;
  height: 12px;
  -webkit-animation-duration: 4000ms;
          animation-duration: 4000ms;
}

.confetti-piece:nth-child(3n) {
  width: 3px;
  height: 10px;
  -webkit-animation-duration: 5000ms;
          animation-duration: 5000ms;
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
}

.confetti-piece:nth-child(4n-7) {
  background: #ff4e91;
}

@-webkit-keyframes makeItRain {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(80vh);
            transform: translateY(80vh);
  }
}

@keyframes makeItRain {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(80vh);
            transform: translateY(80vh);
  }
}

:root {
  font-size: 10px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}

.header .text {
  font-size: 2rem;
  text-align: start;
}

.winner-message {
  color: #3333cc;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2rem;
}

.memory-game-board-main {
  margin-inline: auto;
  border-radius: 25px;
  border: 1px solid #3333cc;
  padding: 1rem;
}

.memory-game-board {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (100px)[4];
      grid-template-columns: repeat(4, 100px);
  gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2.2rem;
}

.memory-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #3333cc;
  background-color: #dae5f7;
  height: 100px;
  font-size: 24px;
  font-weight: 700;
  -webkit-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}

.memory-card:hover {
  background-color: #0af07d;
}

.memory-card.flipped {
  background-color: #fff;
  -webkit-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}

.memory-card.matched {
  background-color: #0af07d;
}

.restart-button {
  width: 15rem;
  font-size: 2rem;
  height: 3rem;
  text-align: center;
  background-color: #fff;
  color: #3333cc;
  border-radius: 2rem;
  border: 1px solid #3333cc;
  margin-top: 1.5rem;
  cursor: pointer;
}

.restart-button:hover {
  background-color: #3333cc;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .memory-game-board-main, .header {
    width: 96vw;
  }
}

@media screen and (min-width: 768px) {
  .memory-game-board-main, .header {
    width: 40vw;
  }
}
/*# sourceMappingURL=styles.css.map */